a {
    color: #000;
    text-decoration: none;
    margin: 20px;

    .linkMiddle {
        margin: 20px auto;
        width: 300px;
        text-align: center;

        padding: 10px;
        border: 1px solid #000;

        &:hover {
            background-color: #000;
        }
    }

    &:hover {
        color: #fff;
    }
}
